/.gradle
/.settings
/bin
/build
/node_modules
src/main/resources/resources/vendor/
src/main/resources/properties/version.properties
.classpath
.project
*.iml
.idea
bower_components
vendor
build
classes